In [13]:
import pandas as pd
import numpy as np

In [20]:
path="../wichern_data/"

t=pd.read_csv(path+'T1-9.dat', sep='\t', header=None, skiprows=0);
t=t.rename(columns={0:'Country', 1:'100m_s', 2:'200m_s', 3:'400m_s', 4:'800m_min', 5:'1500m_min', 6:'3000m_min', 7:'Marathon_min'});

In [21]:
t.head()

,Country,100m_s,200m_s,400m_s,800m_min,1500m_min,3000m_min,Marathon_min
0,ARG,11.57,22.94,52.50,2.05,4.25,9.19,150.32
1,AUS,11.12,22.23,48.63,1.98,4.02,8.63,143.51
2,AUT,11.15,22.70,50.62,1.94,4.05,8.78,154.35
3,BEL,11.14,22.48,51.45,1.97,4.08,8.82,143.05
4,BER,11.46,23.05,53.30,2.07,4.29,9.81,174.18

In [22]:
pd.DataFrame([np.mean(t)])

,100m_s,200m_s,400m_s,800m_min,1500m_min,3000m_min,Marathon_min
0,11.357778,23.118519,51.989074,2.022407,4.189444,9.080741,153.619259

In [23]:
t.cov()

,100m_s,200m_s,400m_s,800m_min,1500m_min,3000m_min,Marathon_min
100m_s,0.155316,0.344561,0.891296,0.027704,0.083891,0.233883,4.334178
200m_s,0.344561,0.863088,2.192836,0.066166,0.202763,0.554350,10.384988
400m_s,0.891296,2.192836,6.745458,0.181808,0.509177,1.426816,28.903731
800m_min,0.027704,0.066166,0.181808,0.007547,0.021415,0.061379,1.219655
1500m_min,0.083891,0.202763,0.509177,0.021415,0.074183,0.216155,3.539837
3000m_min,0.233883,0.554350,1.426816,0.061379,0.216155,0.664758,10.706091
Marathon_min,4.334178,10.384988,28.903731,1.219655,3.539837,10.706091,270.270150

In [24]:
t.corr()

,100m_s,200m_s,400m_s,800m_min,1500m_min,3000m_min,Marathon_min
100m_s,1.000000,0.941089,0.870780,0.809176,0.781551,0.727878,0.668960
200m_s,0.941089,1.000000,0.908810,0.819826,0.801328,0.731855,0.679954
400m_s,0.870780,0.908810,1.000000,0.805790,0.719800,0.673799,0.676938
800m_min,0.809176,0.819826,0.805790,1.000000,0.905051,0.866573,0.853990
1500m_min,0.781551,0.801328,0.719800,0.905051,1.000000,0.973380,0.790557
3000m_min,0.727878,0.731855,0.673799,0.866573,0.973380,1.000000,0.798730
Marathon_min,0.668960,0.679954,0.676938,0.853990,0.790557,0.798730,1.000000