In [1]:
import pandas as pd

In [2]:
path="../wichern_data/"
t=pd.read_csv(path+'T1-8.dat', sep='\s+', header=None, skiprows=0);
t=t.rename(columns={0:'100m_s', 1:'200m_s', 2:'400m_s', 3:'800m_min', 4:'1500m_min', 5:'3000m_min', 6:'Marathon_min'});

In [3]:
t.head()

   100m_s  200m_s  400m_s  800m_min  1500m_min  3000m_min
0   1.103   1.052   2.139     2.238      0.873      0.872
1   0.842   0.859   1.873     1.741      0.590      0.744
2   0.925   0.873   1.887     1.809      0.767      0.713
3   0.857   0.744   1.739     1.547      0.706      0.674
4   0.795   0.809   1.734     1.715      0.549      0.654

In [4]:
t.mean()

100m_s       0.84380
200m_s       0.81832
400m_s       1.79268
800m_min     1.73484
1500m_min    0.70440
3000m_min    0.69384
dtype: float64

In [5]:
t.cov()

             100m_s    200m_s    400m_s  800m_min  1500m_min  3000m_min
100m_s     0.013002  0.010378  0.022350  0.020086   0.009121   0.007958
200m_s     0.010378  0.011418  0.018535  0.021100   0.008530   0.008909
400m_s     0.022350  0.018535  0.080357  0.066776   0.016837   0.012847
800m_min   0.020086  0.021100  0.066776  0.069484   0.017735   0.016794
1500m_min  0.009121  0.008530  0.016837  0.017735   0.011568   0.008071
3000m_min  0.007958  0.008909  0.012847  0.016794   0.008071   0.010599

In [6]:
t.corr()

             100m_s    200m_s    400m_s  800m_min  1500m_min  3000m_min
100m_s     1.000000  0.851807  0.691459  0.668258   0.743693   0.677894
200m_s     0.851807  1.000000  0.611916  0.749093   0.742178   0.809798
400m_s     0.691459  0.611916  1.000000  0.893646   0.552222   0.440205
800m_min   0.668258  0.749093  0.893646  1.000000   0.625550   0.618820
1500m_min  0.743693  0.742178  0.552222  0.625550   1.000000   0.728892
3000m_min  0.677894  0.809798  0.440205  0.618820   0.728892   1.000000