In [1]:
import pandas as pd

In [5]:
path="/Users/thiamang/Documents/github/personal/tmh-scripts/statistics/applied_multivariate_statistical_analysis_problems/wichern_data/"
t=pd.read_csv(path+'T1-6.dat', sep='\s+', header=None, skiprows=0);
t=t.rename(columns={0:'subject_number', 1:'Age', 2:'S1LplusS1R', 3:'S1LminusS1R', 4:'S2LplusS2R', 5:'S2LminusS2R'});

In [6]:
t.head()

   subject_number    Age  S1LplusS1R  S1LminusS1R  S2LplusS2R  S2LminusS2R
0              18  152.0         1.6        198.4         0.0            0
1              19  138.0         0.4        180.8         1.6            0
2              20  144.0         0.0        186.4         0.8            0
3              20  143.6         3.2        194.8         0.0            0
4              20  148.8         0.0        217.6         0.0            0